<nav id="mainNav" class="navbar navbar-dark navbar-expand-md sticky-top py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <%= image_tag url_for("ec2Checkout.png"), alt: app_name, class: "rounded-circle", width: "40px", height: "40px" %>
      <span class="ms-2">
        <%= app_name %>
      </span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
      </ul>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-primary shadow', 'data-method': :delete %>
        <%#= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-primary shadow' %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary shadow' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary shadow' %>
      <% end %>
    </div>
  </div>
</nav>
