<nav id="mainNav" class="navbar navbar-dark navbar-expand-md sticky-top py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <%= image_tag url_for("ec2Checkout.png"), alt: app_name, class: "rounded-circle", width: "40px", height: "40px" %>
      <span class="ms-2">
        <%= app_name %>
      </span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <%= link_to "#", class: "nav-link dropdown-toggle", id: "navbardrop", "data-bs-toggle": "dropdown", "aria-expanded": "false" do %>
              <%= image_tag "https://via.placeholder.com/40x40.png?text=Product+Image", class: "rounded-circle nav-profile-image" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbardrop">
              <li><%= link_to 'Settings', "#", class: 'dropdown-item' %></li>
              <li><%= link_to 'Profile', "#", class: 'dropdown-item' %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
